:root{
--White: hsl(0, 0%, 100%);
--Black: hsl(0, 0%, 0%);
--DarkGray: hsl(0, 0%, 55%);
--VeryDarkGray: hsl(0, 0%, 41%);
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-size: 15px;
}

.container{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
    border: 6px solid blue;
}

.attribution{
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

/* .none{
    display: none;
} */